/*styles.css*/
body {
    background-color:lightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:0;

}
h1,h2,h3,h4,h5{
    background-color:white;
    color:darkcyan;
    text-align: center;
    font-family:cursive;
    margin-bottom: 10px;

}

main{ margin:auto

}

footer{
    font-family:cursive;
    font: size 20px;
    text-align: center;
}

imag{
    max-width:fit-content;
    height:fit-content;
    margin:auto;
    border: 0.5cm;
}
a{
    font-size: 18px;
}
ul{
color: dark blue
}
ol{
    color:darkblue

}

